body{
    background-color:#99CC00;
    color:black;
    width:1050px;
    margin-right:auto;
    margin-left:auto;
    font-family:'Century Gothic','游ゴシック';
}
#question-area{
    background-color: orange;
    font-size:110%;
}
#check{
    width:397px;
    height:26px;
    background-color:orangered;
    border-style:none;
}
input {
    height: 20px;
}
#ans-zone{
    background-color: aqua;
    color:blue;
}
#select-zone{
    width:700px;
    background-color: chartreuse
}
#level1,#level2,#level3,#level4,#level5,#level6{
    background-color: darkorange;
    border-style:none;
    width:350px;
    height:30px;
}
#level-select{
    font-size:120%;
}
