body{
    background-color:#99CC00;
    color:black;
    text-align: center;
    margin: auto;
    font-family:'Century Gothic','游ゴシック';
}
#question-area{
    background-color: orange;
    font-size:110%;
}
#check,#textreset{
    width:198px;
    height:26px;
    border-style:none;
}
#check{
    background-color:orangered;
}
#textreset{
    background-color:yellowgreen;
}
input{
    height: 20px;
}
#ans-zone{
    background-color: aqua;
    color:blue;
    margin: auto;
}
#select-zone{
    width:700px;
    background-color: chartreuse;
    margin: auto;
}
#level1,#level2,#level3,#level4,#level5,#level6,#level7,#level8,#level9{
    background-color: darkorange;
    border-style:none;
    width:350px;
    height:30px;
}
#level-select{
    font-size:120%;
}
#reset{
    background-color: red;
    border-style:none;
    width:350px;
    height:30px;
};
